body {
	margin: 5px;
}

.btn a {
	color: #333;
}

.btn a:hover, .btn a:visited:hover {
	text-decoration: none;
}

.box {
	height: 300px;
	width: 100%;
}

.box p {
	padding: 8px;
	background-color: rgba(0,0,0, 0.4);
	color: white;
	width: 90%;
	margin: auto;
	border-radius: 5px;
	margin-top: 10px;
}

.box h2 {
	margin: 0px;
	font-size: 25px;
	padding: 3px;
	padding-left: 20px;
	background-color: rgba(0,0,0, 0.6);
	color: white;
	background-repeat: no-repeat;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.box h2:before {
    content: url('http://i.imgur.com/ClmGQW1.png');
    height: 25px;
    margin-right: 5px;
}

.showOverlay {
	display: block;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	bottom: 0px;
	text-align: center;
}

.hideOverlay {
	display: none;
}


.btn {
	margin: 5px;
	margin-top: 220px;
	
}

.col {
	background-size: cover;
	margin: 0px;
}

.favorite_icon {
	width: 40px;
	position: absolute;
	bottom: 10px;
}
